body {
  background: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
}

.light {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

h2 {
  color: hsl(234, 12%, 34%);
  font-size: 32px;
  margin: 0;
  font-weight: 600;
}
h3{
  color: hsl(234, 12%, 34%);
  font-size: 18px;
  font-weight: 400;
}

/* HEADER */
.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.text-container p {
  color: rgb(163, 165, 174);
  
}

/* CARDS */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px;
  grid-template-areas:
  "supervisor teambuilder calculator"
   "supervisor karma calculator";
    
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  background-color: white;
  font-weight: 700;
  color: gray;
  padding: 32px;
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  transition: transform 0.3s ease;
  height: 190px;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: 70px;
}

/* Specific Card Styles */
.supervisor {
  grid-area: supervisor;
  border-top: 4px solid hsl(180, 62%, 55%);
  margin: auto; 
}

.teambuilder {
  grid-area: teambuilder;
  border-top: 4px solid hsl(0, 78%, 62%);
  margin: auto; 
  
}

.karma {
  grid-area: karma;
  border-top: 4px solid hsl(34, 97%, 64%);
  margin: auto; 
  
}

.calculator {
  grid-area: calculator;
  border-top: 4px solid hsl(212, 86%, 64%);
  margin: auto; 
}

/* Media Query for screens  */
@media (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "teambuilder"
      "supervisor"
      "calculator"
      "karma";

}
